*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.calc-container
{
    width:300px;
    height:375px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin:100px auto;
    box-shadow: 10px 10px  10px  5px #565555;
}
.display
{
    width:300px;
    height:100px;
    padding:5px 10px;
    background-color:  rgb(40, 39, 39);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.display-value
{
    width:280px;
    height:90px;
    padding:20px;
    border:none;
    background-color: rgb(95, 209, 244);
    font-size:30px;
    text-align: right;
}
.calc-buttons
{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(5,45px);
    gap:8px;
    width:300px;
    height:275px;
    padding:5px;
    background-color: rgb(40, 39, 39);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.number
{
    background-color: rgb(165, 165, 241);
    border: none;
    border-radius:5px;
}
.number:hover
{
    background-color: rgb(138, 138, 240);
}
.operand
{
    background-color: rgb(196, 180, 162);
    border: none;
    border-radius:5px;
}
.operand:hover
{
    background-color: rgb(235, 183, 146);
}
#clear
{
    grid-row: 4/6;
    background-color: rgb(242, 107, 130);
    border: none;
    border-radius:5px;
}
#clear:hover
{
    background-color: rgb(245, 170, 181);
}
#equal
{
    grid-column: 3/5;
    background-color: rgb(117, 201, 162);
    border: none;
    border-radius:5px;
}
#equal:hover
{
    background-color: rgb(174, 247, 194);
}